<?xml version='1.0' encoding='utf-8'?>
<widget id="com.phonegap.helloworld" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>draw!</name>
    <description>
        A drawing prompt app.
    </description>
    <author email="dev@cordova.apache.org" href="http://cordova.io">
        Semic Group
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <splash density="land-hdpi" src="res/screen/android/splash.png" />
        <splash density="land-ldpi" src="res/screen/android/splash.png" />
        <splash density="land-mdpi" src="res/screen/android/splash.png" />
        <splash density="land-xhdpi" src="res/screen/android/splash.png" />
        <splash density="port-hdpi" src="res/screen/android/splash.png" />
        <splash density="port-ldpi" src="res/screen/android/splash.png" />
        <splash density="port-mdpi" src="res/screen/android/splash.png" />
        <splash density="port-xhdpi" src="res/screen/android/splash.png" />
        <preference name="android-minSdkVersion" value="14" />
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
        <preference name="BackupWebStorage" value="none" />
    </platform>
    <preference name="DisallowOverscroll" value="true" />
    <preference name="SplashScreenDelay" value="5000" />
    <preference name="SplashMaintainAspectRatio" value="true" />
    <preference name="SplashShowOnlyFirstTime" value="false" />
    <plugin name="cordova-plugin-whitelist" spec="~1.2.0" />
    <plugin name="cordova-plugin-console" spec="~1.0.1" />
    <plugin name="cordova-plugin-dbcopy" spec="https://github.com/an-rahulpandey/cordova-plugin-dbcopy.git" />
    <plugin name="cordova-sqlite-evcore-extbuild-free" spec="^0.9.5" />
    <plugin name="cordova-plugin-splashscreen" spec="^5.0.2" />
    <engine name="android" spec="~7.0.0" />
    <engine name="ios" spec="~4.5.4" />
    <engine name="browser" spec="~5.0.3" />
</widget>
