body {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Roboto Condensed', sans-serif;
}

  /* main click area */

#top-view {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  clear: both;
}

#logo-div {
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#draw-logo {
  max-width: 125%;
  top: -30px;
  left: -35px;
  position: relative;
  z-index: -1;
  margin-left: auto !important;
  margin-right: auto !important;
}

#keyword {
  position: fixed;
  top: 55%;
  left: 48%;
  transform: translate(-50%, -50%);
  font-size: 24px;
  font-weight: bold;
  max-width: 100%;
  font-family: 'Roboto Condensed', sans-serif;
}

  /* end main click area */

  /* menu bar */

.menu-icons {
  position: fixed;
  bottom: 1%;
  width: 100%;
  z-index: 100;
}

.menu-buttons {
  height: 62px !important;
}

  /* end menu bar */

  /* prompt category view */

#word-pack-view {
  display: none;
  background-color: white;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* position: relative; */
  width: 100vw;
  height: 100vh;
}

#word-packs {
  position: relative;
  width: 93vw;
  height: 89vh;
}

#prompt-draw {
  background-image: url("../img/draw.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 15%;
  margin-top: 12px;
  margin-bottom: 5px;
  position: sticky;
  z-index: 99;
}

.category-icons {
  background-color: white;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  width: inherit;
  height: 12%;
  margin: 8px 0px 8px 0px;
}

.prompt-label {
  font-size: 16px;
  position: absolute;
  top:    17%;
  left:   17%;
}

img.prompt-buttons {
  position: absolute;
  left: 0;
  top: 0%;
  margin: 8px 0px 0px 3px;
  width: 50px;
  /* height: 62px !important; */
}

button.buy-button {
  position: absolute;
  right:    0;
  bottom:   0;
  margin: 0px 5px 5px 0px;
}

  /* end prompt category view */

  /* background color options view */

#background-color-view {
  display: none;
  background-color: white;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  text-align: center;
  width: 100vw;
  height: 100vh;
  overflow: scroll;
}

#background-color {
  position: relative;
  width: 93vw;
  height: 89vh;
  overflow: scroll;
}

#background-color-draw {
  background-image: url("../img/draw.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 15%;
  margin-top: 12px;
  margin-bottom: 5px;
  position: sticky;
  z-index: 99;
}

.background-options {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 175px;
  height: 125px;
  padding: 20px;
  border-radius: 8px;
}

.background-options {
  margin: 4px;
}

/* #teal {
  background-image: url("../img/teal.png");
  margin: 15px 2px 2px 10px;
}

#purplePinkPattern {
  background-image: url("../img/purplePinkPattern.png");
  margin: 15px 10px 2px 2px;
}

#orangeRed {
  background-image: url("../img/orangeRed.png");
  margin: 2px 2px 2px 10px;
}

#blueGreen {
  background-image: url("../img/blueGreen.png");
  margin: 2px 10px 2px 2px;
}

#pinkPurple {
  background-image: url("../img/pinkPurple.png");
  margin: 2px 2px 2px 10px;
}

#paper {
  background-image: url("../img/paper.png");
  margin: 2px 10px 2px 2px;
}

#redPurple {
  background-image: url("../img/hotPink.png");
  margin: 2px 2px 2px 10px;
} */

  /* end background color options view */


  /* info view */

#info-view {
  display: none;
  background-color: white;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  text-align: center;
  width: 100vw;
  height: 100vh;
  font-family: 'Roboto Condensed', sans-serif;
}

#info-div {
  height: 89vh;
}

#info-draw-logo {
  position: absolute;
  top: 3%;
  left: 2%;
}

#developed-by {
  position: absolute;
  top: 25%;
  left: 38%;
}

#malolo-design {
  position: absolute;
  bottom: 40%;
  left: 12%;
}

#malolo-design-image {
  bottom: 50%;
  left: 20%;
}

#website {
  position: absolute;
  bottom: 18%;
  left: 28%;
}

#info-draw-image {
  width: 65%;
}

  /* end info view */
